  .subscribe{
    padding: 60px 60px;
    background-color: rgb(192, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subcontent{
    /* width: 500px; */
    padding: 20px 30px;
  }
.subcontent h2{
    padding: 10px 5px;
    font-size: 36px;
    text-align: center;
}
.subcontent .subfield{
    background-color: rgba(240, 248, 255, 0.42);
    padding: 20px;
    margin: 5px 0;
    display: flex;
    justify-content: left;
    align-items: center;
}
.subfield p{
    color: red;
    font-size: 13px;
}
.subfield input{
    padding: 10px 5px;
    margin: 2px 0;
    width: 500px;
    outline: none;
    border: 1px solid greenyellow;
    font-size: 18px;
    color: green;
}
.subfield button{
    padding: 10px 30px;
    margin: 5px 8px;
    border: 5px solid rgb(4, 190, 4);
    font-size: 18px;
    color: #02400f;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}   
.subfield button:nth-child(1){
    background-color: #5fe97d;
}
.subfield button:hover{
    background-color: #5fe97d;
    color: #fff;
    transition: all 0.5s ease-out;
    font-weight: 700;
}

.sign{
    display: block !important;
}