.servicebox{
    background-color: rgb(219, 234, 234);
    padding: 40px 30px;
    border-radius: 20px;
    width: 350px;
    margin: 10px 0;
}
.servicebox:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.5s ease-in-out;
}
.servicebox:hover .serviceicon{
    box-shadow: rgba(181, 238, 193, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.5s ease-in-out;
}
.servicebox img{
    width: 55px;
    padding: 10px;
}
.serviceicon{
    background-color: rgb(184, 227, 213);
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
}
.servicebox h3{
    font-size: 18px;
    padding: 10px;
}
.servicebox p{
    font-size: 16px;
    padding: 10px;
}
.servicebox a{
    color: #02400f;
    font-size: 17px;
    text-decoration: none;
}
@media (min-width:320px) and (max-width: 480px) {
    
    .servicebox{
        width: inherit;
        margin: 15px 15px;
    }
}